@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@keyframes flotar {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}


* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
:root {
--bg-color: #010101;
--second-bg-color: #1f242d;
--text-color:#fff;
--main-color:#0ef;
--color-buttom: rgb(14, 43, 66);
}
/*:root {
  --bg-color: #010101;          
  --second-bg-color: #111827;   
  --text-color: #e5e7eb;       
  --text-muted: #9ca3af;        
  --main-color: #38bdf8;       
  --button-color: #0284c7;      
}*/


html {
    font-size: 62.5%;
    overflow-x: hidden;

}

/*.cursor-glow {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  pointer-events: none;
  background: radial-gradient(
    circle,
    rgba(0, 224, 255, 0.25),
    rgba(0, 224, 255, 0.05),
    transparent 70%
  );
  transform: translate(-50%, -50%);
  filter: blur(40px);
  z-index: 0;
}*/

#particles {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;        
  pointer-events: none;
}




body{
    background: var(--second-bg-color);
    color: var(--text-color);
}
/*SeCCION DE SOBRE MI */
section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
   z-index: 2;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--color-buttom);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header.sticky{
  border-bottom: .1rem solid rgba(0,0,0,.2);
}

.logo{
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}
.navbar{
   z-index: 1;
}

.navbar a {
font-size: 1.7rem;
color: var(--text-color);
margin-left: 4rem;
transition: .3s; 
}

.navbar a:hover , 
.navbar a.activado{
    color: var(--main-color);
}
#icono-menu{
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
    
}
.casa{
  display: flex;
  justify-content: center;
  align-items: center;
}

.casa-content h3{
  font-size: 3.2rem;
  font-weight: 700;

}

.casa-content h3:nth-of-type(2){
  margin-bottom: 2rem;
}
span {
color: var(--main-color);
}
/*Boton de descarga de cv*/
.boton{
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--main-color);
  border-radius: 4rem;
  box-shadow: 0 0 1rem var(--main-color);
  font-size: 1.6rem;
  color: var(--second-bg-color);
  letter-spacing: .1rem;
  font-weight: 600;
  transition: .5s ease;
}

.boton:hover{
  box-shadow: none;
  color:var(--text-color);
 background: linear-gradient(to right, #08bbf1 0%, #13ffeb 49%);
}

.casa-content h1{
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.3;
}
.casa-content p{
  font-size: 1.6rem;
}
.imagen-yo img{
  width: 27vw;
  animation: flotar 3s ease-in-out infinite;
  z-index: 100;
}
.social-media a{
display: inline-flex;
justify-content: center;
align-items: center;
width: 4rem;
height: 4rem;
background: transparent;
border: .2rem solid var(--main-color);
border-radius: 50%;
font-size: 2rem;
color: var(--main-color);
margin: 3rem 1.5rem 3rem 0;
transition: .5s ease;
} 

.social-media a:hover{
  background: var(--main-color);
  color: var(--second-bg-color);
  box-shadow: 0 0 1rem var(--main-color); 
}
.SobreMi-content h2{
  text-align: left;
  line-height: 1.2;
}
.SobreMi-content h3{
  font-size: 2.6rem ;
}
.SobreMi-content p{
  font-size: 1.6rem;
  margin: 2rem 0 3rem;
}
.SobreMi{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: var(--bg-color);
}

.SobreMi-img img{
  width: 25vw;
  animation: flotar 2s ease-in-out infinite;
}
.titulo{
  text-align: center;
  font-size: 4.5rem;
}
/* Seccion Dominios*/
.Dominios h2{
  margin-bottom: 5rem;
}

.Dominios-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}
/*.Dominios-container .Dominios-box {
  flex: 1 1 30rem;
  background: var(--second-bg-color);
  padding: 3rem 2rem 4rem;
  border-radius: 2rem;
  text-align: center;
  border: .2rem solid var(--main-color);
}

.Dominios-container .Dominios-box img {
  width: 10vw;
}*/

.Dominios-box {
  perspective: 1000px;
}

.card {
  width: 100%;
  height: 230px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.8s ease;
}

.Dominios-box:hover .card {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  inset: 0;
  background: var(--second-bg-color);
  border-radius: 1.5rem;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  
}

/* FRONT */
.card-front img {
  width: 110px;
}

.card-front h4 {
  font-size: 1.8rem;
}

/* BACK */
.card-back {
  transform: rotateY(180deg);
  background: linear-gradient(
    to bottom,
    var(--color-buttom),
    var(--second-bg-color)
  );
}

.card-back h4 {
  font-size: 2rem;
  color: var(--main-color);
}

.card-back p {
  font-size: 1.6rem;
  font-weight: 600;
}




.Dominios-container .Dominios-box {
  flex: 1 1 20rem;
  max-width: 22rem;
  background: var(--second-bg-color);
  padding: 1.5rem;
  border-radius: 1.5rem;
  text-align: center;
  border: .2rem solid var(--second-bg-color);
  animation: flotar 3s ease-in-out infinite;
  transition: .9s ease;
}

.Dominios-container .Dominios-box h4{
  font-size: 1.5rem;
}

.Dominios-container .Dominios-box img {
  width: 160px;
  height: auto;
  animation: flotar 3s ease-in-out infinite;
  
}

.Dominios-container .Dominios-box:hover {
  border-width: .5rem; 
  border-color: var(--color-buttom);
  box-shadow: 0 0 1rem var(--text-color);
  background: linear-gradient(to right,var(--color-buttom)0%, var(--color-buttom)40%);;
  
}


.Dominios-box:nth-child(1) { animation-delay: 0s; }
.Dominios-box:nth-child(2) { animation-delay: .3s; }
.Dominios-box:nth-child(3) { animation-delay: .6s; }
.Dominios-box:nth-child(4) { animation-delay: .9s; }
.Dominios-box:nth-child(5) { animation-delay: 1.2s; }

.Portafolio {
    background: var(--bg-color);
}
 .Portafolio h2 {
  margin-bottom: 4rem;
 }

 .portafolio-container {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  align-items: center;
  gap: 2.5rem;
 
 }

 .portafolio-container .portafolio-box{
  position: relative;
  border-radius: 2rem;
  box-shadow: 0 0 1rem var(--color-buttom);
  overflow: hidden;
  display: flex;
 }

.portafolio-container .portafolio-box img {
  width: 100%;
  transition: .5s ease;
}
.portafolio-box {
  animation: flotar 4s ease-in-out infinite;
}


.portafolio-box:hover img{
  transform: scale(1.1);

}
.portafolio-container .portafolio-box:hover{
    border-width: .8rem; 
  border-color: var(--color-buttom);
  transform: scale(1.02);
}

.portafolio-box .portafolio-layer{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0,0,0,.1), var(--color-buttom));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 4rem;
  transform: translateY(100%);
  transition: .5s ease ;
}

.portafolio-box:hover  .portafolio-layer{
  transform: translateY(0);
}




.portafolio-layer h4{
  font-size: 3rem;
}

.portafolio-layer p{
  font-size: 1.2rem;
  margin: .3rem 0 1rem ;
  color: var(--text-color);
}

.portafolio-layer a{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width:  3rem;
  height:  3rem;
  background: var(--second-bg-color);
  border-radius: 50%;  
}

.portafolio-layer a i {
  font-size: 2rem;
  color: var(--main-color);
}

.tech-stack {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

.tech-stack span {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  background: rgba(0, 0, 0, 0.75);
  color: var(--main-color);
  padding: 0.5rem 1.2rem;

  border-radius: 2rem;
  font-size: 1.2rem;
  border: 1px solid var(--main-color);

  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.tech-stack span i {
  font-size: 1.6rem;
}


.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 9%;
  background-color: var(--color-buttom);
}

.footer-texto p{
  font-size: 1.6rem;
}

.footer-icon a{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: .8rem;
  background: var(--main-color);
  border-radius: .8rem;
  transition: .5s ease;
}

.footer-icon a i {
font-size: 2.4rem;
color: var(--color-buttom);
}

.footer-icon a:hover{
  box-shadow: 0 0 1rem var(--text-color);
}

@media (max-width:1200px){
  html {
    font-size: 55%;
  }
}

@media (max-width:991px){
   .header{
    padding: 2rem 3%;
   }

   section {
    padding: 10rem 3% 2rem;
   }

   .Dominios{
    padding-bottom: 7rem;
   }

   .Portafolio{
    padding-bottom: 7rem;
   }

   .footer{

    padding: 2rem 3%;
   }
}

@media (max-width:768px){
  #icono-menu{
    display:block
  }

  .navbar{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 3%;
    background: var(--bg-color);
    border-top: .1rem solid rgba(0,0,0,.2 );
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
    display: none;
  }

  .navbar.active{
    display: block;
  }
  .navbar a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
  }

  .casa{
    flex-direction:colum;
  }

  .casa-content h3{
    font-size: 2.6rem;
  }
   
  .casa-content h1{
    font-size: 5rem;
  }

  .casa img{
    width: 70vw;
    margin-top: 4rem;
  }

  .SobreMi{
    flex-direction: column-reverse;
  }

  .SobreMi img{
       width: 70vw;
    margin-top: 4rem;
  }

  .Dominios h2{

    margin-bottom: 3rem;
  }

  .Portafolio h2{
    margin-bottom: 3rem;
  }

  .portafolio-container{
    grid-template-columns: repeat(2,1fr);
  }
}

@media (max-width:617px){

  .portafolio-container{
    grid-template-columns: 1fr;
  }
}

@media (max-width:450px){
html{
  font-size: 50%;
}

}

@media (max-width:365px){
.imagen-yo img{
  width: 90vw;
}

.SobreMi-img img{
  width: 90vw;
}
.footer{
  flex-direction: column-reverse;
 }

 .footer p{
  text-align: center;
  margin-top:2rem ;
 }

}

.multiple-text {
  color: var(--main-color);
  font-weight: 600;
  border-right: 2px solid var(--main-color);
  padding-right: 5px;
  animation: blink 1.4s infinite;
}

@keyframes blink {
  0% { border-color: transparent; }
  50% { border-color: var(--main-color); }
  100% { border-color: transparent; }
}













